torch~=1.7.1
setuptools~=28.8.0
numpy~=1.19.0
opencv-python~=4.4.0.46
transformers~=2.3.0
tqdm~=4.46.1
nltk~=3.4.5
punctuator~=0.9.6
pandas~=1.1.5
torchtext~=0.8.1
torchvision~=0.8.2
scikit-learn~=0.23.2
simplejson~=3.17.2
ijson~=3.1.3